$primary-app-color: #7A6EBF;
$primary-app-color-dark: #3366FE;


$app-bg-color: #282B31;
$app-bg-color-light: #3d4247;
$app-bg-color-lighter: #2b2c2f;
$app-bg-color-darker: #17191c;
$app-bg-color-focus: #3366FE;
$app-bg-color-focus-darker: #6a5bbe;


$text-color-primary: lightgray;
$text-color-secondary: #ffffff;
$text-color-secondary-dark: #d2d2d2;
$text-color-secondary-inverted: black;
$text-color-hover: #7A6EBF;
$text-color-hover-dark: #6a8fff;

$text-font-primary: 'Roboto', sans-serif;
$text-font-secondary: arial, sans-serif;


$border-color-default: #090909;
$border-color-hover: #7A6EBF;


$input-color-main: #2e3136;
$input-color-hover: #2e3036;